<div class="container mt-4" *ngIf="product">
    <div class="row">
      <div class="col-md-6">
        <img [src]="product?.image" class="img-fluid" alt="{{ product?.title }}">
      </div>
      <div class="col-md-6">
        <h1>{{ product?.title }}</h1>
        <p>{{ product?.description }}</p>
        <p><strong>Precio:</strong> {{ product?.price | currency }}</p>
        <p><strong>Categoría:</strong> {{ product?.category }}</p>
        <a routerLink="/" class="btn btn-secondary">Volver a la lista</a>
      </div>
    </div>
  </div>
  