<div class="container">
  <app-category-filter (categorySelected)="filterProductsByCategory($event)"></app-category-filter>
  
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p><strong>Precio:</strong> {{ product.price | currency }}</p>
          <a [routerLink]="['/product', product.id]" class="btn btn-primary custom-btn-color">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

